<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <style>
      .angular-google-map-container {
          width: 100%;
          height: 504px;
      }
    </style>

    <link href="/css/preview-frame.css" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">

    <script src="http://192.168.0.51:8080/target/target-script-min.js#anonymous"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

      <script src="lib/ngCordova/dist/ng-cordova.js"></script>
      <script src="cordova.js"></script>

      <script src="js/app.js"></script>

  </head>
  <body ng-app="chalo" animation="slide-left-right-ios7">
  <div>
    <div>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </div>
</div>
<script id="page3.html" type="text/ng-template">
<ion-view title="GET STARTED">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1>CHALO</h1>
        <div>
            <p>
                <strong>CHALO</strong>LETS YOU COORDINATE MEETING UP WITH YOUR FAVORITE PEEPS AT THE CLICK OF A BUTTON.</p>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <a ng-click="getGoing()" class="button button-positive button-block">GET GOING!</a>
    </ion-content>
</ion-view></script>
<script id="page5.html" type="text/ng-template">
<ion-view title="NAME">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1>YOUR NAME</h1>
        <div class="spacer" style="height: 100px;"></div>
        <form>
            <label class="item item-input" name="fullName">
                <span class="input-label"></span>
                <input type="text" ng-model="fullName" placeholder="FULL NAME" />
            </label>
            <a ng-click="setFullName(fullName)" class="button button-positive button-block">CONTINUE</a>
        </form>
    </ion-content>
</ion-view></script>
<script id="page7.html" type="text/ng-template">
<ion-view title="PHONE">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1>YOUR PHONE</h1>
        <div class="spacer" style="height: 100px;"></div>
        <form>
            <label class="item item-input" name="phone">
                <span class="input-label"></span>
                <input type="tel" ng-model="phone" placeholder="PHONE" />
            </label>
            <a ng-click="setPhone(phone)" class="button button-positive button-block">CONTINUE</a>
        </form>
    </ion-content>
</ion-view></script>
<script id="page9.html" type="text/ng-template">
<ion-view title="CHALO">
    <ion-content padding="true" scroll="false" class="has-header">
        <a on-swipe-left="showAdvanced()" on-release="showAdvanced()" class="button button-calm button-clear button-block">swipe left here for options</a>
        <div class="spacer" style="height: 100px;"></div>
        <div>
            <p>
                <strong>let's go</strong>
            </p>
        </div>
        <a ng-click="selectContacts('chalo')" class="button button-positive button-block">CHALO</a>
        <div class="spacer" style="height: 100px;"></div>
        <div>
            <p>
                <strong>i've reached</strong>
            </p>
        </div>
        <a ng-click="selectContacts('aao')" class="button button-royal button-block">AAO</a>
    </ion-content>
</ion-view></script>
<script id="page10.html" type="text/ng-template">
<ion-view title="CHALO">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item>
                <h2>
                    Chow Time
                    <i class="ion-pizza"></i>
                </h2>
                <a href="#/chalo/contacts/eat" class="button button-positive button-outline button-block">
                    CHALO
                </a>
            </ion-item>
            <ion-item>
                <h2>
                    Cuppa Joe
                    <i class="ion-coffee"></i>
                </h2>
                <a href="#/chalo/contacts/drink" class="button button-positive button-outline button-block">CHALO</a>
            </ion-item>
            <ion-item>
                <h2>
                    Puff Puff
                    <i class="ion-no-smoking"></i>
                </h2>
                <a href="#/chalo/contacts/smoke" class="button button-positive button-outline button-block">CHALO</a>
            </ion-item>
            <ion-item>
                <h2>
                    Meeting Time
                    <i class="ion-calendar"></i>
                </h2>
                <a href="#/chalo/contacts/meeting" class="button button-positive button-outline button-block">CHALO</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view></script>
<script id="page11.html" type="text/ng-template">
<ion-view title="CONTACTS">
    <ion-content padding="true" class="has-header">
        <form>
            <a ng-click="addContact()" class="button button-positive button-block">Add</a>
            <div class="list card"  ng-repeat="contact in selectedContacts">
                <ion-item class="item-avatar" ng-init="contactId = 'contact' + $index">
                    <img src="{{contact.photos ? contact.photos[0].value : '/img/avatar.gif'}}" />
                    <h2>{{contact.name.formatted}}</h2>
                    <p>{{contact.selectedNumber}}</p>
                </ion-item>
                <label class="item item-radio" ng-repeat="phone in contact.phoneNumbers" >
                    <input type="radio" ng-model="contact.selectedNumber" ng-value="phone.value"
                           name="{{contactId}}" />
                    <div class="item-content item-text-wrap">
                        {{phone.value}}
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </div>
        </form>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <div class="buttons">
            <button class="button button-clear" ng-click="cancel()">Cancel</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-positive" ng-click="sendChalo()">Send</button>
        </div>
    </ion-footer-bar>
</ion-view></script>
  </body>
</html>
